<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561690903886-lfg4kgfum4gg9f0jltti8bk8i9onp8m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561690903886-lfg4kgfum4gg9f0jltti8bk8i9onp8m7</string>
	<key>API_KEY</key>
	<string>AIzaSyAnlt5NBuQkmSnsFwVHAm7oWI5DnnkpmMc</string>
	<key>GCM_SENDER_ID</key>
	<string>561690903886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.org.nkmnosepinsllp.dev</string>
	<key>PROJECT_ID</key>
	<string>nkm-llp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>nkm-llp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561690903886:ios:8bf8b578790bc54592ca1f</string>
</dict>
</plist>